/** Анимация клика */

.click {
  width: 3px;
  height: 3px;
  background: blue;
  border-radius: 50%;
  position: absolute;
  z-index: 100;
  animation: click 1s forwards;
}
@keyframes click {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(30);
    opacity: 0;
  }
}

/** Код страницы */

* {
  margin: 0;
  padding: 0;
  user-select: none;
  overflow: hidden;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
p,
a {
  color: #fff;
}

h1 {
  font-size: 100px;
}

#app {
  background: url("./public/1bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  object-fit: cover;
  margin: 0 auto;
}

#clicker {
  width: 100vw;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  cursor: url("./public/kiss.png"), auto;
}

#money {
  color: white;
  -webkit-text-stroke: #1a1a1a;
  -webkit-text-stroke-color: #000000;
  -webkit-text-stroke-width: 0.5px;
  text-transform: uppercase;
}

.clicker__wrapper {
  display: flex;
  gap: 120px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.card__img {
  max-width: 75px;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  padding: 30px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #c4c4c4;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
