/** Анимация клика */

.click {
  width: 100px;
  height: 100px;
  background-image: url("./public/4tyu.gif");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  z-index: 100;
  animation: click 5s forwards;
}
@keyframes click {
  0% {
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    transform: scale(5);
    opacity: 0;
  }
}

/** Код страницы */

* {
  margin: 0;
  padding: 0;
  user-select: none;
  overflow: hidden;
  color: #000000;
  font-weight: 700;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000000;
  background-color: #5a5a5a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  width: 100%;
  height: 100%;
}

#app {
  background: url("./public/1bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  object-fit: cover;
  margin: 0 auto;
}

#clicker {
  width: 100vw;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

#money {
  color: white;
  -webkit-text-stroke: #1a1a1a;
  -webkit-text-stroke-color: #000000;
  -webkit-text-stroke-width: 0.5px;
  text-transform: uppercase;
}

.clicker__wrapper {
  display: flex;
  gap: 120px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.card h1 {
  font-size: 42px;
}

.card__img {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: bounce;
  max-width: 40px;
}

.shop-items {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  align-items: flex-start;
}

@keyframes bounce {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0%);
  }
  50% {
    transform: translate(0, 10%);
  }
}

aside {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  padding: 30px;
  font-weight: 700;
}

button {
  max-width: 300px;
  text-wrap: wrap;
  text-align: center;
  width: 100%;
  border: none;
  -webkit-box-shadow: 0px 5px 18px 8px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 5px 18px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 18px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 24px 32px;
  font-weight: 500;
  font-family: inherit;
  background-color: #fff;
  cursor: pointer;
  opacity: .9;
  transition: background-color 0.3s, border 0.3s, color 0.3s;
}
button:active {
  color: white;
  background-color: #ff8be2;
}

.bonusOfSecond {
  display: flexl;
  justify-content: center;
  gap: 10px;
}
